<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="App.css"/>
    <title>Document</title>
</head>
<body>
    <div class="topNav">
        <img src="download.png">
        <header>Biography</header>
    </div>

    <div class="container">
        <div class="imageDiv">
            Image Location
        </div>
        <div class="nameDiv">
            Zach Weller
            <p>Hi! My name is Zach Weller and I am currently a senior at Suny at Albany. I major in Computer Science and have a minor in Mathematics and Informatics.</p>
        </div>
    </div>
</body>
</html>